<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h3>TEST</h3>

<mat-list>
  <mat-list-item *ngFor="let c of components">
    <a [routerLink]="['/', c.route]">
      <p>{{c.name}}</p>
    </a>
  </mat-list-item>

</mat-list>


<div fxLayout="row" class="content">
  <router-outlet></router-outlet>
</div>

<!--
<mat-sidenav-container>
    <mat-sidenav id="sidenav" mode="side" opened="true">
      <mat-list>
        <mat-list-item *ngFor="let c of components">
          <a [routerLink]="['/', c.route]">
            <i matListIcon class="material-icons">{{c.icon}}</i>
            <p *ngIf="!isClose">{{c.name}}</p>
          </a>
        </mat-list-item>
        <button mat-button (click)="toggle()">{{status}}</button>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
      <div fxLayout="row" class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
-->